@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 			/*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;				/*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;			/*合并外边线*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";	/*宋体，Unicode，统一码*/
    color: #666;
    background: #fff;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
    /*text-decoration: underline;*/
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1200px;
    margin: 0 auto;
}
.x {
    width: 1000px;
    margin: 0 auto;
}
.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}
/*初始化 end*/

/*site-nav部分 start*/
.site-top-nav {
    height: 30px;
    line-height: 30px;  
    background-color: #F2F2F2;
}
.top-nav-left {
    position: relative;
    height: 30px;   
}
.top-nav-left i {
    width: 16px;
    height: 14px;
    background: url('../images/home.png') no-repeat center;
    position: absolute;
    left: 2px;
    top: 7px;
}
.top-nav-left a {
    display: inline-block;
    width: 72px;
    padding: 0 15px 0 22px;
}
.line {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-top: 9px;
    background-color: #DFDFDF;
}
.top-nav-left span {
    display: inline-block;
    width: 142px;
    padding-left: 34px;
}
.top-nav-left em {
    position: absolute;
    left: 127px;
    top: 0px;
    width: 25px;
    height: 30px;
    background: url("../images/sprite.png") no-repeat -348px -338px;
}

/*nav-top-right*/
.top-nav-right {
    position: relative;
}
.top-nav-right ul li {
    float: left;
}
.top-nav-right li a {
    padding: 0 18px;
}
.about-me .triangle {
    padding-right: 35px;
}
/*下拉菜单*/
.triangle ol {
    position: absolute;
    top: 0;
    width: 125px;
    height: 175px;
    border: 1px solid #ccc;
    border-top: 0px;
    background-color: #fff;
    display: none;
}
.triangle ol li {
    width: 125px;
    height: 10px;
    text-align: center;
    margin-bottom: 8px;

}
.about-me i {
    position: absolute;
    top: 14px;
    left: 230px;
    width: 9px;
    height: 5px;
    background: url("../images/sprite.png") no-repeat -353px -449px;
}
.download .qr-code {
    padding-right: 54px;
}
.download i {
    position: absolute;
    top: 8px;
    left: 420px;
    width: 31px;
    height: 14px;
    background: url("../images/sprite.png") no-repeat -288px -378px;
}
/*site-nav部分 end*/



/*search部分 start*/
.search {
    height: 110px;
}
.search-logo {
    height: 110px;
    width: 399px;
    line-height: 110px;
    margin-right: 30px;
    float: left;
}
.search-logo a {
    display: block;
    margin: auto;
    vertical-align: middle;
}


.search-logo .logo {
    float: left;
    width: 244px;
    height: 110px;
    margin-right: 13px;
}

.search-input {
    float: left;
}
.search-input input {
    float: left;
    width: 363px;
    height: 10px;
    margin-top: 36px;
    padding: 12px 0;
    border: 2px solid #C69C6D;
    font: 100 12px/10px "microsoft yahei";
    color: #999;
}
.search-input button {
    float: left;
    width: 95px;
    height: 38px;
    margin-top: 36px;
    background-color: #C69C6D;
    cursor: pointer;
    color: #fff;
    font: 100 14px "microsoft yahei";
}
.search-car {
    position: relative;
    float: right;
    width: 94px;
    height: 32px;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    margin-top: 40px;
    padding-left: 44px;
    line-height: 32px;
}
.search-car .search-car-icon1 {
    position: absolute;
    left: 8px;
    top: 3px;
    width: 22px;
    height: 24px;
    background: url("../images/shopbag.png") no-repeat;
}
.search-car-icon2 span {
    color: red;
    padding: 0 4px;
}
.search-car .search-car-icon3 {
    padding-left: 5px;
    font: 700 15px "initial";
}
.search-more {
    float: left;
    width: 300px;
    height: 30px;
    line-height: 30px;
}
.search-more a {
    display: inline-block;
    margin-right: 22px;

}
/*search部分 end*/


/*shortcut部分 start*/
.shortcut {
    height: 38px;
    background-color: #1B1C1B;
    border-bottom: 2px solid #B2AFAE;
    line-height: 38px;
}
.shortcut-nav .category a {
    height: 38px;
    width: 100px;
    font: bold 14px/38px "microsoft yahei";
    background-color: #CF0101;
    color: #fff;
}
.shortcut-nav ul {
    position: relative;
}
.shortcut-nav li {
    float: left;
}
.shortcut-nav a {
    display: inline-block;
    width: 100px;
    font: 400 14px/38px "microsoft yahei";
    text-align: center;
    color: #c8a985;
}
.shortcut-nav li:hover a{
    color: #fff;
}
.reach-store i {
    position: absolute;
    right: 380px;
    top: 0;
    width: 19px;
    height: 40px;
    line-height: 40px;
    background: url(../images/sprite02.png) no-repeat -58px -169px;
}
.shortcut-nav .reach-store:hover i {
    background-position: -366px -252px;
}

/*到航右边部分*/
.shortcut-others {
    height: 38px;
    overflow: hidden;
}
.shortcut-others ul {
    float: right;
    margin-right: 28px;
}
.shortcut-others li {
    position: relative;
    float: left;
    margin-left: 15px;
    
}
.shortcut-others i {
    display: inline-block;
    width: 30px;
    height: 40px;
    line-height: 40px;
}
.quality-goods i {
    background: url(../images/sprite02.png) no-repeat -237px -66px;
}
.vip i {
    background: url(../images/sprite02.png) no-repeat -296px -66px;
}
.integrity i {
    background: url(../images/sprite02.png) no-repeat -354px -66px;
}
/*shortcut部分 end*/

/*t-side-start*/
.t-side {
    position: fixed;
    right: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid #000;
}
.t-side h2 {
    width: 250px;
    margin: 0 auto;
    font: 700 18px/40px "microsoft yahei";
    border-bottom: 2px solid #ccc;
}
.t-side h2 span {
    float: right;
    cursor: pointer;
}
.t-side-b {
    text-align: center;
    margin-top: 140px;
}
.t-side-b p {
    font: 700 14px/40px "microsoft yahei";
    padding: 0 50px;
    margin-top: 20px;
}
.t-btn span  {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #666;
    position: absolute;
    left: -36px;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}
.t-btn1 {
    top: 150px;
    background: #666 url("../images/share02.png") -88px -157px;
}
.t-btn1:hover {
    background: #666 url("../images/share02.png") -88px -122px;
}
.t-btn2 {
    top: 190px;
    background: #666 url("../images/share02.png") -139px -155px;
}
.t-btn2:hover {
    background: #666 url("../images/share02.png") -140px -125px;
}
.t-btn3 {
    top: 230px;
    background: #666 url("../images/share02.png") -202px -153px;
}
.t-btn3:hover {
    top: 230px;
    background: #666 url("../images/share02.png") -203px -124px;
}
.t-btn4 {
    top: 270px;
    background: #666 url("../images/share02.png") -257px -161px;
}
.t-btn4:hover {
    top: 270px;
    background: #666 url("../images/share02.png") -257px -125px;
}
.t-btn5 {
    top: 350px;
    background: #666 url("../images/share02.png") -310px -155px;
}
.t-btn5:hover {
    top: 350px;
    background: #666 url("../images/share02.png") -310px -124px;
}
.t-btn6 {
    top: 390px;
    background: #666 url("../images/share02.png") -374px -155px;
}
.t-btn6:hover {
    top: 390px;
    background: #666 url("../images/share02.png") -375px -123px;
}
.t-btn7 {
    top: 430px;
    background: #666 url("../images/share02.png") -436px -153px;
}
.t-btn7:hover {
    top: 430px;
    background: #666 url("../images/share02.png") -435px -124px;
}
.t-btn span i {
    display: none;
    width: 150px;
    height: 35px;
    position: absolute;
    background-color: #fff;
    font: 700 14px/35px "microsoft yahei";
    text-align: center;
    top: 0;
    left: -150px;
    border: 1px solid #000;
    border-radius: 10px;
}
.t-btn span:hover {
    background-color: #C69C6D;
}
.t-btn .t-btn5 i {
    width: 122px;
    height: 136px;
    left: -122px;
    border: 1px solid #ccc;
    border-radius: 00;
}
/*t-side-end*/




/*footer-message start*/
/* footerm-top start */
.footer-message{
    background: url(../images/footer_message_bg.jpg);
    width: 100%;
    height: 600px;
    border-top: 1px solid #c9c9c9;
    margin-top: 30px;
}
.footerm-top {
    height: 116px;
    border-bottom: 1px solid #c9c9c9;
}
.footerm-top ul {
    width: 1200px;
    height: 116px;
}
.footerm-top ul li {
    float: left;
    width: 240px;
    height: 64px;
    margin-top: 26px;
    position: relative;
}
.footerm-top li img {
    width: 64px;
    height: 64px;
    padding: 0 5px 0 10px;
}
.footerm-top div {
    position: absolute;
    left: 80px;
    top: 4px;

}
.footerm-top div p {
    color: #000000;
    font: bold 12px/20px "microsoft yahei";
    margin: 5px auto;
}
.footerm-top p a {
    color: #333;
    font-weight: normal;
}
/* footerm-top start */
/* footerm-middle start */
.footerm-middle {
    height: 283px;
    padding-left: 10px;
    float: left;
}

.footerm-middle-left dl {
    width: 185px;
    /*height: 160px;*/
    float: left;
}
.footerm-middle-left dl dt{
    margin: 20px 0;
    font-weight: bold;
    height: 24px;
    color: #000000;
}
.footerm-middle-left dl dd {
    height: 24px;
    line-height: 24px;
}
.footerm-middle-right{
    float: left;
    width: 265px;
}
.footerm-middle-right ul li {
    float: left;
}
.footerm-middle-right li span {
    display: block;
    margin: 20px 0;
    color: #000000;
    font-weight: bold;
}
.footerm-middle-right .fmr-left{
    width: 140px;
    height: 283px;
}
.footerm-middle-right .fmr-right{
    width: 125px;
    height: 283px;

}
/* footerm-middle start */

/* footerm-bottom start */
.footerm-bottom {
    text-align: center;
    color: #FFFFFF;
    font: 400 12px/200% "microsoft yahei";
}

.footerm-bottom-tp {
    line-height: 66px;
}
.footerm-bottom-tp a,.footerm-bottom-md a {
    display: inline-block;
    color: #FFFFFF;
    margin: 0 8px;
}
.footerm-bottom-bm {
    margin-top: 23px;
}
.footerm-bottom-bm a {

}
/* footerm-bottom start */

/*footer-message end*/



